@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: Fjalla One, sans-serif;
}

img {
  width: 210px;
  border-radius: 14px;
}

.header {
  position: sticky;
  top: 0;
  background-color: #7a293c;
  display: flex;
  justify-content: space-around;
  min-height: 70px;
  align-items: center;
  flex-wrap: wrap;
  z-index: 1000;
  width: 100%;
  height: 70px;
}

.navs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 3px 10px;
  width: auto;
  min-width: 70%;
  height: auto;
}

.logo {
  display: flex;
  margin-top: 2px;
}
.logo a {
  color: rgb(255, 255, 255);
  font-size: 1.8rem;
  transition: all 0.7s;
}
.logo a:hover {
  transform: scale(1.3);
}

@media screen and (min-width: 768px) {
  .nav-1,
  .nav-2 {
    display: flex;
    margin: auto;
    padding: 0px 15px;
  }
  .nav-1 ul,
  .nav-2 ul {
    display: flex;
  }
  .nav-1 li,
  .nav-2 li {
    padding: 0px 5px;
  }
  .nav-1 a,
  .nav-2 a {
    color: rgb(255, 255, 255);
    transition: all 0.4s;
  }
  .nav-1 a:hover,
  .nav-2 a:hover {
    transform: scale(1.4);
    padding: 4px 7px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
  }
}
/* HEADER EN LOS HTMLS */
.header-htmls {
  background-color: rgb(255, 255, 255);
}

@media screen and (min-width: 768px) {
  .nav1-htmls ul li a,
  .nav2-htmls ul li a {
    color: rgb(0, 0, 0);
    transition: all 0.4s;
  }
  .nav1-htmls ul li a:hover,
  .nav2-htmls ul li a:hover {
    transform: scale(1.4);
    padding: 4px 7px;
    color: rgb(255, 255, 255);
    background-color: #7a293c;
    border-radius: 6px;
  }
}
.logo-htmls a {
  color: rgb(0, 0, 0);
  font-size: 1.8rem;
  transition: all 0.7s;
}
.logo-htmls a:hover {
  transform: scale(1.3);
}

/* HEADER EN CONTACTO USANDO BOOTSTRAP
Quitando el margen de abajo que bootstrap agrega
automaticamente */
ol,
ul {
  margin-bottom: 0rem;
}

/* label_hamburguesa

menu-hamburguesa

list-icon */
.list-icon, .menu-hamburguesa, .label-hamburguesa {
  display: none;
}

.navvar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .list-icon, .menu-hamburguesa, .label-hamburguesa {
    display: block;
  }
  .header {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .navvar {
    position: absolute;
    top: 70px;
    width: 100%;
    left: 0;
    /* height: 160px; */
    height: 0;
    overflow: hidden;
    display: block;
    justify-content: space-between;
  }
  .nav-1, .nav-2 {
    padding: 0;
    height: 100%;
    display: flex;
  }
  .nav-1 {
    height: 120%;
  }
  .ul-links {
    display: flex;
    background-color: #471420;
    width: 100%;
    flex-wrap: nowrap;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 34px;
  }
  .nav-2 .ul-links {
    justify-content: center;
  }
  .nav-1 .ul-links {
    justify-content: space-evenly;
  }
  .navs {
    display: flex;
    min-width: 1%;
  }
  .menu-hamburguesa {
    display: none;
  }
  .label-hamburguesa {
    right: 0;
  }
  .menu-hamburguesa:checked + .navvar {
    height: 160px;
    overflow: visible;
  }
  .logo {
    padding-left: 25px;
  }
  .list-icon {
    color: white;
    margin-right: 5px;
    cursor: pointer;
  }
  a {
    color: white;
  }
  .li-links {
    width: 100%;
    text-align: center;
    padding: 4px;
  }
  .li-links:hover {
    background-color: #310e16;
  }
}
/* FOOTER */
footer {
  background-color: rgb(57, 56, 56);
  color: rgb(255, 255, 255);
  display: flex;
  height: 70px;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0;
}
footer h3 {
  font-family: Arial;
  font-size: 15px;
}

/* GENERAL */
body {
  background-color: #7a293c;
  width: 100%;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  padding-bottom: 80px;
}

.main-fondo {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 0px;
}

.main-inicio {
  background-color: rgb(255, 255, 255);
  width: 90%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* APARTADO DE CELEBRIDADES */
/* GENERAL */
.content-total {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.content-total img {
  border-radius: 2px;
  padding: 2px;
}

.content-1 {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* TITULO GENERAL "CELEBRIDADES" */
.title-cebs {
  border: 1px black solid;
  display: flex;
  justify-content: center;
  margin: 25px 0px 0px;
  padding: 15px;
  background-color: rgb(255, 255, 255);
}

/* GENERAL RECUADROS INDIVIDUALES DE CADA CELEBRIDAD */
.content-cebs {
  display: flex;
  min-height: 360px;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 30px;
  background-color: rgb(255, 255, 255);
  padding: 30px;
  margin: 15px;
}

.ceb-content-img {
  width: 460px;
  position: relative;
  height: 500px;
  margin: auto;
}

.ceb-content-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex: 1 0 auto;
  max-width: 800px;
  width: 320px;
  margin: 10px 30px 0px;
  height: auto;
}

.nombre-celebridad {
  margin: 5px 5px;
}

.info-celebridad {
  margin: 15px 5px;
  font-size: 20px;
}

.datos-celebridad {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 15px 0px 0px;
  height: 100%;
  flex-wrap: wrap;
}

.precios {
  display: flex;
  flex-wrap: wrap;
  min-width: 45%;
  max-width: 100%;
  align-items: center;
  margin: 10px;
}
.precios img {
  width: 30px;
  height: 100%;
}
.precios h3 {
  display: flex;
  align-items: center;
  border: 1px black solid;
  border-radius: 3px;
  padding: 3px;
  margin: 2px;
  width: 100%;
  justify-content: center;
}

.puntaje {
  display: flex;
  min-width: 30px;
  max-width: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  padding: 12px;
  background-color: #7a293c;
  margin: 10px;
  border-radius: 10px;
  color: rgb(255, 255, 255);
}
.puntaje p {
  font-size: 60px;
}
.puntaje h1 {
  height: 100%;
  font-size: 80px;
  display: flex;
  align-items: center;
}

/* APARTADO OZUNA */
.foto-celebridad {
  background-image: url(../media/ozuna.jpeg);
  width: auto;
  height: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 25px;
}

.colores-ozuna {
  margin: 10px 0px;
  display: flex;
  justify-content: center;
  width: 200px;
  height: auto;
  align-items: center;
}
.colores-ozuna .color-1 {
  width: 50px;
  height: 50px;
  border: 1px black solid;
  border-radius: 5px;
  background-color: rgb(0, 0, 0);
}
.colores-ozuna .color-2 {
  width: 50px;
  height: 50px;
  border: 1px black solid;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
}
.colores-ozuna .color-3 {
  width: 50px;
  height: 50px;
  border: 1px black solid;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  position: relative;
  overflow: hidden;
}
.colores-ozuna .color-3 .subcolor-1 {
  width: 50px;
  height: 100%;
  background-color: rgb(30, 255, 0);
  position: absolute;
  width: 33%;
}
.colores-ozuna .color-3 .subcolor-2 {
  width: 50px;
  height: 100%;
  background-color: rgb(0, 4, 255);
  position: absolute;
  width: 33%;
  left: 33%;
}
.colores-ozuna .color-3 .subcolor-3 {
  width: 50px;
  height: 100%;
  background-color: rgb(255, 0, 0);
  position: absolute;
  width: 33%;
  right: 0;
}

/* APARTADO LILBABY */
.foto-celebridad-lilbaby {
  background-image: url(../media/Lil\ Baby.webp);
  width: auto;
  height: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 25px;
}

.colores-lilbaby {
  margin: 10px 0px;
  display: flex;
  justify-content: center;
  width: 200px;
  height: auto;
  align-items: center;
}
.colores-lilbaby .color-1 {
  width: 50px;
  height: 50px;
  border: 1px black solid;
  border-radius: 5px;
  background-color: rgb(255, 102, 150);
}
.colores-lilbaby .color-2 {
  width: 50px;
  height: 50px;
  border: 1px black solid;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
}
.colores-lilbaby .color-3 {
  width: 50px;
  height: 50px;
  border: 1px black solid;
  border-radius: 5px;
  background-color: rgb(173, 194, 219);
}

/* APARTADO RVSSIAN */
.foto-celebridad-rvssian {
  background-image: url(../media/Rvssian.webp);
  width: auto;
  height: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 25px;
}

.colores-rvssian {
  margin: 10px 0px;
  display: flex;
  justify-content: center;
  width: 200px;
  height: auto;
  align-items: center;
}
.colores-rvssian .color-1 {
  width: 50px;
  height: 50px;
  border: 1px black solid;
  border-radius: 5px;
  background-color: rgb(203, 244, 255);
}
.colores-rvssian .color-2 {
  width: 50px;
  height: 50px;
  border: 1px black solid;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
}
.colores-rvssian .color-3 {
  width: 50px;
  height: 50px;
  border: 1px black solid;
  border-radius: 5px;
  background-color: rgb(72, 149, 120);
}

@media screen and (max-width: 768px) {
  .list-icon-htmls {
    cursor: pointer;
  }
  a {
    color: white;
  }
}
/* APARTADO CONTACTO */
.form-contacto {
  margin-top: 20px;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.body-contacto {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 40px;
  background-image: url(../../media/efecto-lluvia-sobre-fondo-urbano.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}

/* BANNER DEL INICIO */
.banner {
  min-height: 30rem;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.banner img {
  height: 120%;
  width: 100%;
  position: absolute;
  min-height: 35rem;
  top: -100px;
  object-fit: cover;
  overflow: hidden;
}

.info-header {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7a293c;
  width: 750px;
  height: auto;
  min-height: 80px;
  bottom: 5rem;
  margin: auto;
  flex-wrap: wrap;
  text-align: center;
  font-size: 1.35rem;
  box-shadow: 0px 0px 25px;
}
.info-header h1 {
  padding: 0px 3px;
  font-family: Fjalla One, sans-serif;
  color: rgb(255, 255, 255);
  padding: 5px 15px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  /* Achicamos la latra del banner en pantallas chicas */
}
.info-header h1 span {
  display: flex;
  flex-wrap: nowrap;
  text-align: center;
  padding: 2px 6px;
}
@media screen and (max-width: 450px) {
  .info-header h1 span {
    font-size: 35px;
  }
}

/* MEIDIDAS DEL TEXTO DEL BANNER SEGUN EL TAMAÑO DE LA PANTALLA */
.info-header {
  width: clamp(380px, 60%, 1000px);
}

/* SOBRE NOSOTROS DEL INICIO */
.sobre-nosotros-inicio {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0px;
  width: 100%;
}

.sobre-nosotros-inicio-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.sobre-nosotros-inicio p,
.sobre-nosotros-inicio h2 {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 5px 0px;
}

.sobre-nosotros-inicio-info h2 {
  background-color: #842D41;
  color: white;
  width: 90%;
}
.sobre-nosotros-inicio-info p {
  padding: 15px 40px;
}

/* CELEBRIDADDES DEL INCIIO */
.outfits-inicio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.out-inicio-titulo {
  width: 90%;
  display: flex;
  justify-content: center;
  height: 40px;
}
.out-inicio-titulo h2 {
  background-color: #842D41;
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.out-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  padding: 20px 0px;
}

.out-1,
.out-2,
.out-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 270px;
  height: auto;
  padding-bottom: 30px;
}

.out-1 a,
.out-2 a,
.out-3 a {
  transition: transform 0.3s ease-in-out;
}

.out-1 p,
.out-2 p,
.out-3 p {
  text-align: center;
  padding: 15px 0px;
  max-width: 190px;
}

.outfits-inicio img {
  border: solid 2px rgb(0, 0, 0);
  height: 320px;
  width: 100%;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}

/* MARCAS DEL INICIO */
.marcas-inicio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.marcas-inicio-titulo {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  background-color: #842D41;
  color: white;
  width: 90%;
  height: 45px;
  align-items: center;
}
.marcas-inicio-titulo h2 {
  display: flex;
  width: 100%;
  justify-content: center;
}

.mar-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}

.mar-1,
.mar-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  padding: 13px 5px;
  margin: 0px 10px 5px;
}

.mar-1 img,
.mar-2 img {
  display: flex;
  margin: auto;
  height: auto;
  width: 80%;
}

.mar-1 p,
.mar-2 p {
  margin-top: 9px;
}

.mar-btn {
  padding: 30px;
}

.out-content .out-1 a:hover,
.out-content .out-2 a:hover,
.out-content .out-3 a:hover {
  transform: scale(1.07);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
  border-radius: 15px;
  height: 320px;
}

/* BOTONOES 'SABER MAS' DEL INICIO */
.ou-btn,
.mar-btn,
.sn-boton {
  transition: transform 0.1s ease-in-out;
}

.ou-btn a,
.mar-btn a,
.sn-boton a {
  color: rgb(0, 0, 0);
  border: 1px solid black;
  padding: 3px 9px;
  border-radius: 7px;
}

.ou-btn:hover,
.mar-btn:hover,
.sn-boton:hover {
  transform: scale(1.1);
}

/* APARTADO MARCAS */
.marcas-main {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  height: auto;
  display: flex;
  min-height: 360px;
  flex-wrap: wrap;
  border-radius: 30px;
}

.marca-cubo {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  margin: 20px 0px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  min-width: 200px;
  max-width: 400px;
  height: auto;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 30px;
}

.marca-1 .marca-logo {
  background-image: url(../media/vans.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 80%;
  height: 150px;
  margin: 30px;
}

.marca-2 .marca-logo {
  background-image: url(../media/nike.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 80%;
  height: 150px;
  margin: 30px;
}

.marca-3 .marca-logo {
  background-image: url(../media/louis-Vuitton.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  height: 150px;
  margin: 30px;
}

marca-1 media {
  width: 50px;
  height: auto;
  position: absolute;
}

.marca-info iframe {
  width: 100%;
  height: 200px;
  padding: 10px 0px 0px;
}

/* APARTADO NOSOTROS */
.nosotros-titulo {
  margin: 15px 0px;
  background-color: rgb(255, 255, 255);
}
.nosotros-titulo h1 {
  text-align: center;
  padding: 15px;
  font-size: 50px;
}

.nosotros-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px;
  gap: 5px;
}

.perfil {
  display: flex;
  flex-direction: column;
  min-width: 350px;
  width: 40%;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  padding: 30px;
  height: auto;
}

.objetivo {
  width: 40%;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  padding: 30px;
  min-width: 370px;
  max-height: 550px;
  min-height: 260px;
}

.mapa iframe {
  width: 70%;
  height: 140px;
  text-align: center;
}

.contenido-2 {
  height: 80%;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.descripcion {
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 8px;
}

.myinfo {
  max-width: 300px;
  min-width: 100px;
  padding: 0px 10px;
  margin: auto;
}

.title {
  text-align: center;
  background-color: #7a293c;
}

.title-2 {
  color: white;
  text-align: center;
  background-color: #7a293c;
}

.title h2 {
  color: white;
  padding: 6px;
}

.title-2 h2 {
  padding: 6px;
}

.imgyo {
  background-image: url(../media/yo.JPEG);
  background-size: cover;
  height: 100%;
  width: 100%;
}

.myimage {
  min-width: 140px;
  height: 190px;
  margin: auto;
}

.mapa {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
