/* GENERAL */

body {
    background-color: #842D41;
    width: 100%;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    padding-bottom: 80px;
  }
  
  .main-fondo {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 0px;
  }
  
  .main-inicio {
    background-color: white;
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }


  