/* FOOTER */

footer {
    background-color: rgb(57, 56, 56);
    color: $colorSecundario;
    display: flex;
    height: 70px;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
  
    h3 {
      font-family: $fuenteSecundaria;
      font-size: 15px;
    }
  }
  