/* APARTADO CONTACTO */




.body-contacto {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-image: url(../../media/efecto-lluvia-sobre-fondo-urbano.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}


