/* APARTADO CONTACTO */


.form-contacto {
    margin-top: 20px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.body-contacto {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 40px;
}